<div class="guide-container">

  <div class="photo-container">
 <img src="<%= asset_path("PICT0027.JPG")%>" class="userpic"/>
 </div>

 <div class="mega-wrapper">
 <h4><%= @user.email %></h4>
 <div class="tours-container">
posted by me
 </div>

  <div class="tours-container">
posted by guides I'm subscribed to
 </div>
 <% if @user.role == "user" %>
  <%= link_to "become a guide", apply_path(@user)%>
 <% elsif @user.role == "pending" %>
 <%= link_to "post a tour", suggest_path(@user)%>
  <% else %>
   <%= link_to "post a tour", suggest_path(@user)%>
  <% end %>

</div>

</div>
