<div class="navbar-lewagon">
    <%= link_to "Resources", resources_path %>
    <%= link_to "Guides", all_guides_path %>
    <% if user_signed_in? %>
    <div class="personal-area">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      <%= link_to "Personal area", user_path(current_user.id), class: "link" %>
    </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
</div>
