<div class="show-wrapper">
<div class="gr gr-info">
  <h3> <%=@graveyard.title%> short info</h3>

  <div class="card-info">
    <%=@graveyard.details%>
  </div>

  <div data-controller="graveyard-subscription">
  <h3>Upcoming tours</h3>
  <div class="card-info" data-graveyard-subscription-target="info">
    <button class="button-apply margin" data-action="click->graveyard-subscription#refresh">refresh</button>
  </div>
  </div>


  <h3>Pics worth seeing</h3>
  <% if @graveyard.id == 1%>
  <div class="card-gallery" data-controller="pics">
    <img src="<%= asset_path('_DSC2888.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
    <img src="<%= asset_path('_DSC2915.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
    <img src="<%= asset_path('_DSC2926.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
  </div>
   <% elsif @graveyard.id == 2%>
  <div class="card-gallery" data-controller="pics">
    <img src="<%= asset_path('_DSC9503.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
    <img src="<%= asset_path('_DSC9512.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
    <img src="<%= asset_path('_DSC9521.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
  </div>
    <% elsif @graveyard.id == 3%>
  <div class="card-gallery" data-controller="pics">
    <img src="<%= asset_path('_DSC9735.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
    <img src="<%= asset_path('_DSC9736.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
    <img src="<%= asset_path('_DSC9737.jpg') %>" class="card-pic" data-action="click->pics#enlarge">
  </div>
  <%end%>
</div>
<div class="gr">
<div class="gr-map"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>
