<h2><%=@graveyard.title%></h2>


<div class="show-wrapper">
<div class="gr gr-info">
  <h3>Short info</h3>
  <div class="card-info">
    <%=@graveyard.details%>
  </div>
  <h3>Spots worth visiting</h3>
  <div class="card-info">
    <%=@graveyard.details%>
  </div>
  <h3>Pics worth seeing</h3>
  <div class="card-gallery" data-controller="pics">
    <div class="card-pic" data-action="click->pics#enlarge"></div>
    <div class="card-pic"></div>
    <div class="card-pic"></div>
  </div>
</div>
<div class="gr">
<div class="gr-map"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>
