<div class="guide-container">

  <div class="photo-container">
 <%= cl_image_tag @guide.photo.key, :class => "guide-photo-large" %>
 </div>

 <div class="mega-wrapper">
 <h4><%= @guide.name %></h4>
 <div class="buttons-container">
  <a href="https://www.instagram.com/maat.zine/" class="socials-button">My Instagram Account</a>
  <a href="https://t.me/maatzine" class="socials-button">My Telegram Account</a>
  <a href="https://patreon.com/maat_zine" class="socials-button">My Patreon Account</a>
 </div>
 <div class="guide-info"><%= @guide.bio %></div>


<% if @self == "no" %>
<% if @id == "yes" %>
<div data-controller="guide-subscription">
<button disabled>Subscribed</button>
 <div class="sub-count" data-guide-subscription-target="subscription">
   <%= @count %>
</div>
</div>
<% else %>
<div data-controller="guide-subscription">
<button data-guide-subscription-target="button" data-action="click->guide-subscription#subscribe">Subscribe</button>
 <div class="sub-count" data-guide-subscription-target="subscription">
 <%= @count %>
</div>
</div>
<% end %>
<% else %>
<div></div>
<% end %>
</div>

</div>
